.pagination {
	align-items: center;
	color: #1b1b1d;
	display: flex;
	flex-direction: column;
	font-family: "Poppins", "Arial", sans-serif;
	font-size: 16px;
	font-weight: 500;
	justify-content: center;
	padding: 50px 0;

	.paginationLoader {
		-webkit-animation-delay: -0.16s;
		animation-delay: -0.16s;
		color: #dddee6;
		font-size: 7px;
		margin: -20px auto 50px;
		position: relative;
		text-indent: -9999em;
		-webkit-transform: translateZ(0);
		transform: translateZ(0);

		&,
		&::after,
		&::before {
			-webkit-animation: loader 1.2s infinite ease-in-out;
			animation: loader 1.2s infinite ease-in-out;
			-webkit-animation-fill-mode: both;
			animation-fill-mode: both;
			border-radius: 50%;
			height: 2.5em;
			width: 2.5em;
		}

		&::after,
		&::before {
			content: '';
			position: absolute;
			top: 0;
		}

		&::before {
			-webkit-animation-delay: -0.32s;
			animation-delay: -0.32s;
			left: -3.5em;
		}

		&::after {
			left: 3.5em;
		}
	}
}

@keyframes loader {
	0%,100% { box-shadow: 0 2.5em 0 -1.3em; opacity: 0; }
	25% { box-shadow: 0 2.5em 0 0; opacity: 1; }
}

@-webkit-keyframes loader {
	0%,100% { box-shadow: 0 2.5em 0 -1.3em; opacity: 0; }
	25% { box-shadow: 0 2.5em 0 0; opacity: 1; }
}
