.postListHeader {
	align-items: center;
	background: #fafafc;
	display: flex;
	flex-direction: row;
	height: 95px;
	justify-content: space-between;
	max-width: 100%;
	position: relative;
	width: 100%;
	z-index: 100;

	&.useSearch {
		background: #202126;

		.postListHeaderTitle {
			-webkit-transform: translate3d(-300px, 0, 0);
			transform: translate3d(-300px, 0, 0);
		}

		.postListHeaderSearch {
			-webkit-transform: translate3d(0, 0, 0);
			transform: translate3d(0, 0, 0);

			.postListHeaderSearchForm {
				opacity: 1;
			}

			.postListHeaderSearchIcon {
				color: #fff;
				stroke: #fff;
			}
		}
	}

	&.useFillter {
		.postListHeaderTitleIcon {
			transform: rotate(-180deg);
		}
	}

	.postListHeaderTitle {
		color: #0c0c0c;
		cursor: pointer;
		font-size: 18px;
		font-weight: 500;
		letter-spacing: 0.2px;
		line-height: normal;
		margin: 0;
		padding: 34px;
		will-change: transform;

		.postListHeaderTitleIcon {
			color: #c6c6c6;
			display: inline-block;
			fill: transparent;
			font-size: 15px;
			height: 24px;
			margin-left: 15px;
			stroke: #c6c6c6;
			stroke-width: 2px;
			transition: stroke 0.2s ease-out, -webkit-transform 0.2s ease-out;
			transition: stroke 0.2s ease-out, transform 0.2s ease-out;
			transition: stroke 0.2s ease-out, transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
			vertical-align: -7px;
			width: 24px;
		}
	}

	.postListHeaderSearch {
		align-items: center;
		color: #fff;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding: 34px;
		position: absolute;
		-webkit-transform: translate3d(100%, 0, 0) translate3d(-87px, 0, 0);
		transform: translate3d(100%, 0, 0) translate3d(-87px, 0, 0);
		width: 100%;
		will-change: transform;

		.postListHeaderSearchIcon {
			color: #242628;
			cursor: pointer;
			fill: transparent;
			height: 24px;
			stroke: #242628;
			stroke-width: 2px;
			width: 24px;
		}
		.postListHeaderSearchForm {
			flex-grow: 1;
			opacity: 0;

			.postListHeaderSearchInput {
				background: transparent;
				border: 0;
				color: #bfbfbf;
				font-family: "Poppins", "Arial", sans-serif;
				font-size: 18px;
				font-weight: 500;
				letter-spacing: 0.2px;
				margin: 0 0 0 20px;
				outline: none;
				width: 70%;
			}
		}
	}
}
