.postListHeader {
	align-items: center;
	background: #fafafc;
	display: flex;
	flex-direction: row;
	height: 95px;
	justify-content: space-between;
	max-width: 100%;
	position: relative;
	width: 100%;
	z-index: 100;
}
