@import "../styles/utils";

.mainContentWrapper {
	position: relative;
	width: 100%;

	&.useSideBar {
		@include breakpoints("medium") {
			width: calc(100% - 320px);
		}
	}
}

.sideBar {
	position: relative;

	@include breakpoints("medium") {
		position: absolute;
		right: 0;
		top: 0;
		width: 320px;
	}
}
