@import '../../../styles/utils';

.contentWrapper {
	margin: 0 auto;
	padding: 0 16px;
	position: relative;
	width: 100%;

	@include breakpoints('medium') {
		width: map-get($breakpont, medium) * 1px;
	}

	@include breakpoints('large') {
		width: map-get($breakpont, large) * 1px;
	}

	@include breakpoints('xrage') {
		width: map-get($breakpont, xrage) * 1px;
	}
}
