@import '../../styles/utils';

.content {
	display: flex;
	flex-direction: column;
	height: 100px;
	justify-content: flex-start;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1000;

	@include breakpoints('medium') {
		flex-direction: row;
		height: 100vh;
		width: 100px;
	}

	@include breakpoints('large') {
		max-width: 800px;
		width: 41.65%;
	}
}
