@import '../../styles/utils';

.postMakerInfoBox {
    position: relative;
    padding: 16px;
    padding-left: 72px;
    background-color: #fff;
    
    &.absolute {
        position: absolute;
        width: 100%;
        border-radius: 3px;
        -webkit-box-shadow: 4px 3px 3px 0px rgba(0,0,0,0.3);
        -moz-box-shadow: 4px 3px 3px 0px rgba(0,0,0,0.3);
        box-shadow: 4px 3px 3px 0px rgba(0,0,0,0.2);
    }
    
    .profile {
        position: absolute;
        top: 50%;
        left: 16px;
        transform: translate(0, -50%);
    }

    .infoBox {
        .makerName {
            @include typography('caption');
            font-weight: map-get($fontWeight, bold);
            margin-bottom: 8px;
        }
        ul {
            list-style: none;
            padding: 0;
            margin-left: 0;
            margin-bottom: 0;

            &::after {
                display: block;
                clear: both;
                content: '';
            } 

            li {
                @include typography('caption');
                font-weight: map-get($fontWeight, 'light');
                float: left;
                margin-left: 16px;
                margin-bottom: 0;
                color: $oc-gray-6;
                text-transform: uppercase;
                @include material-icon('face');
                &::before {
                    margin-right: 8px;
                }
                &:first-child {
                    margin-left: 0;
                }
            }
        }
    }
}